@font-face {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400, 600, 700;
  src: url(assets/fonts/WorkSans-VariableFont_wght.ttf) format("truetype");
}

:root {
  /* Colors */
  --clr-white: hsl(0, 0%, 100%); /* White #FFFFFF */
  --clr-light-pink: hsl(275, 100%, 97%); /* Light pink #F8EEFF */
  --clr-pale-purple: hsl(292, 16%, 49%); /* Grayish purple #8B6990 */
  --clr-dark-purple: hsl(292, 42%, 14%); /* Dark purple #301534 */
  --clr-pink: hsl(281, 83%, 54%); /* Pink #AD28EB */

  /* Typography */
  --ff-sans: "Work Sans", sans-serif;

  --fw-regular: 400;
  --fw-semibold: 600;
  --fw-bold: 700;

  /* Fluid typography */
  /* Mobile (m) 24rem (384px) -> Desktop (d) 40rem (640px) */

  --fs-display: clamp(
    2rem,
    -0.25rem + 9.375vw,
    3.5rem
  ); /* 56px/auto Bold <- 32px */
  --fs-title: clamp(
    1rem,
    0.8125rem + 0.78125vw,
    1.125rem
  ); /* 18px/auto SemiBold <- 16px */
  --fs-body: clamp(
    0.875rem,
    0.6875rem + 0.78125vw,
    1rem
  ); /* 16px/150% Regular <- 14px */
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vb;
  font-family: var(--ff-sans);
  font-weight: var(--fw-regular);
  color: var(--clr-dark-purple);
  background: url(assets/images/background-pattern-mobile.svg) top center/100%
    auto no-repeat var(--clr-light-pink);
  padding: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  box-shadow: 0px 32px 56px rgba(80, 0, 118, 10%); /* #500076 */
  background-color: var(--clr-white);
  max-width: 37.5rem; /* 600px */
  border-radius: clamp(0.5rem, -0.25rem + 3.125vw, 1rem); /* 8px -> 16px */
  padding: clamp(1.5rem, 0rem + 6.25vw, 2.5rem); /* 24px -> 40px */
  display: grid;
  gap: clamp(1.5rem, 0.75rem + 3.125vw, 2rem); /* 24px -> 32px */
}

h1 {
  --icon-size: clamp(1.5rem, 0rem + 6.25vw, 2.5rem); /* 24px -> 40px */
  color: var(--clr-dark-purple);
  font-size: var(--fs-display);
  font-weight: var(--fw-bold);
  display: grid;
  grid-template-columns: var(--icon-size) auto;
  gap: 1.5rem; /* 24px */
  align-items: center;
}

h1::before {
  content: "";
  display: inline-block;
  background-image: url(assets/images/icon-star.svg);
  background-size: var(--icon-size) var(--icon-size);
  width: var(--icon-size);
  height: var(--icon-size);
}

.accordion {
  --gap: clamp(1.25rem, 0.875rem + 1.5625vw, 1.5rem); /* 20px -> 24px  */
  display: grid;
  gap: var(--gap);
}

.accordion details:not(:first-child) {
  border-top: 1px solid var(--clr-light-pink);
  padding-top: var(--gap);
}

.accordion summary {
  color: var(--clr-dark-purple);
  font-size: var(--fs-title);
  font-weight: var(--fw-semibold);
  cursor: pointer;
  list-style: none;

  display: grid;
  grid-template-columns: auto 30px;
  gap: var(--gap);
  align-items: center;
  justify-content: space-between;
}

.accordion summary::marker {
  content: "";
}

.accordion summary::-webkit-details-marker {
  display: none;
}

.accordion summary:hover {
  color: var(--clr-pink);
}

.accordion summary::after {
  content: url(assets/images/icon-plus.svg);
}

.accordion details[open] summary::after {
  content: url(assets/images/icon-minus.svg);
}

.accordion p {
  padding-top: var(--gap);
  color: var(--clr-pale-purple);
  font-size: var(--fs-body);
  font-weight: var(--fw-regular);
  line-height: 150%;
}

@media (width > 750px) {
  body {
    background-image: url(assets/images/background-pattern-desktop.svg);
  }
}
